body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.125rem;
}

.container{
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 1.5rem;
}

.columns{
    display: flex;
}