body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-color: #f8f8f8;
    padding: 2em 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    justify-content: center;
}

nav li {
    margin-left: 2em;

}

nav a {
    display: inline-block;
    text-decoration: none;
    color: #707070;
    font-size: 1rem;
}

nav a:hover {
    color: #1792D2;
}

h1 {
    color: #143774;
    font-size: 3.375rem;
    font-family: 'Lora', serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.subtitle {
    color: #1792D2;
    font-size: .75rem;
    /* text-align: center; */
    margin: 0;
}

.header {
    margin-bottom: 0;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}